[2015-11-09 07:38] pmuens opened #1 "Add user accounts"
Users should be able to sign in and sign up to use the application

[2015-11-09 07:38] pmuens opened #2 "Posting functionality"
Users should be able to post interesting links or thoughts.

[2015-11-09 14:41] #1 closed

[2015-11-09 14:42] pmuens opened #3 "Jobboard"

[2015-11-09 14:42] pmuens opened #4 "Groups"

[2015-11-09 14:43] pmuens opened #5 "Chat"
Maybe solved with #4 ? Do we need a chat?

[2015-11-09 14:43] pmuens opened #6 "1:1 messages"
Write other users a private message.

[2015-11-09 14:43] pmuens commented on #6
May relate to #5

[2015-11-09 16:21] pmuens opened #7 ""Pagination" for posts"
Use some kind of "infinite scroll" so that not all posts are loaded at once.

[2015-11-09 16:39] pmuens opened #8 "Code snippets"
Share and comment code snippets.

[2015-11-09 18:59] #2 closed

[2015-11-09 19:15] pmuens opened #9 "Show date in post"

[2015-11-09 19:15] pmuens opened #10 "Show author in post"

[2015-11-09 19:29] #9 closed

[2015-11-09 19:29] #10 closed

[2015-11-09 19:30] pmuens opened #11 "Gravatar displaying for post-author"
Display the users Gravatar in the footer of the post.

[2015-11-09 19:32] pmuens opened #12 "Follow users"
Follow users so that posts will pop up in the timeline (#23).

[2015-11-09 19:33] pmuens opened #13 "Befriend users"
Become friends with users (more direct contact than following #12).

[2015-11-09 19:33] pmuens opened #14 "Global search"

[2015-11-09 19:42] pmuens opened #15 "Remove own posts"
Users should be able to remove their own posts.

[2015-11-09 19:42] pmuens opened #16 "Edit own posts"

[2015-11-09 19:51] pmuens opened #17 "Broken layout of sign in and sign up forms"

[2015-11-09 19:52] #17 closed

[2015-11-09 20:01] pmuens opened #18 "Add basic README.md file"

[2015-11-09 20:12] #18 closed

[2015-11-10 07:21] pmuens opened #19 "i18n"
We need some translations to different languages. What library do you recommend?

[2015-11-10 07:22] pmuens opened #20 "Prettier UI"
Right now the standard Skeleton UI is used. It would be great if this looks more aesthetically pleasing!

[2015-11-10 07:22] pmuens opened #21 "User profiles"
Users should have their own profile so that I know who the user is.

[2015-11-10 07:23] pmuens opened #22 "Google analytics"
Maybe we should track the visits of the website?!

[2015-11-10 07:27] pmuens opened #23 "Timeline"
Timeline where all the relevant stuff is shown (e.g. new groups from the topic / user I follow).

[2015-11-10 07:51] pmuens opened #24 "Use React?"
Do you think it's great to move to React? I've done a few projects with React so far but I'm not sure whether this is a good idea for this project. Maybe it's a little bit too overkill and Blaze is sufficient?

[2015-11-10 08:14] #15 closed

[2015-11-10 10:16] pmuens opened #25 "Request for participation"
Do you want to join the GravityProject organization? Just drop a line here!

[2015-11-10 11:23] mbaur opened #26 "Add Exact Posting Time"
eg: 12:22

[2015-11-10 11:25] pmuens commented on #26
Great idea. This can be implemented with `format` helper of momentjs. Shouldn't be that hard!

[2015-11-10 11:33] niallobrien commented on #24
I think until we see more GraphQL implementations in the wild, it might be best to stick with Blaze as React still has the same data dependencies as Blaze.

[2015-11-10 11:34] niallobrien commented on #20
I think Skeleton is fine until there's a solid roadmap & UI design to implement.

[2015-11-10 11:36] pmuens commented on #24
Yes, I think so too.
The encapsulation of functionality into components is great, but overall IMHO I'm faster writing blaze code rather than React components.

[2015-11-10 11:36] Letladi commented on #5
Yes we do need it..

[2015-11-10 11:38] pmuens commented on #20
Any directions where to go with the design?

Furthermore what roadmap tools do you recommend? Trello?

[2015-11-10 11:40] pmuens commented on #5
Should this be a kind of big group chat or a chat with channels (like Slack) and direct messages?

[2015-11-10 11:48] Letladi opened #27 "Adding user presence"

[2015-11-10 11:50] niallobrien commented on #20
I think using a public Trello board would be a good idea.

[2015-11-10 11:57] pmuens commented on #20
:+1:

[2015-11-10 12:11] pmuens opened #28 "Downcase username"

[2015-11-10 12:12] pmuens opened #29 "Allow username for sign in"

[2015-11-10 12:12] pmuens opened #30 "Power-off icon to sign out is ambiguous"

[2015-11-10 12:17] Letladi commented on #5
Channels/Groups seem like a good idea, but direct messages can be included as well.

[2015-11-10 12:30] pmuens commented on #5
:+1:

[2015-11-10 12:33] nchenbang commented on #29
I saw that you are using

    Meteor.loginWithPassword(user.email, user.password, (error, result) => {
      if (error) {
        Bert.alert(error.reason, 'danger', 'growl-top-right');
      } else {
        FlowRouter.go('/');
      }
    });

to sign in user which by default can receive either username or email as the first argument so I think you just need to modify the input type and label nam

[2015-11-10 13:29] pmuens commented on #29
Yes, thank you. That's correct. I'll update the login method so that both can be used!

[2015-11-10 13:41] ai10 commented on #24
https://github.com/ipy/meteor-webpack-react-typescript.git

npm install react-toolkit
add kadira:flow-router
add kadira:react-layout

[2015-11-10 20:00] michaltakac commented on #24
You can migrate to React bit-by-bit when you decide in the future.

[2015-11-10 20:14] michaltakac commented on #29
What do you think about using useraccounts:foundation and useraccounts:flow-router? You can easily customize it and extend it with custom fields.

https://atmospherejs.com/useraccounts/flow-routing

[2015-11-10 20:18] michaltakac commented on #28
As I mentioned in #29, when using useraccounts package, you can easily force lowercase username:
https://github.com/meteor-useraccounts/core/blob/master/Guide.md#options (first section under "Behavior")

[2015-11-10 20:20] michaltakac commented on #27
[tmeasday:presence](https://atmospherejs.com/tmeasday/presence) package could be used for such thing. What do you think @pmuens ?

[2015-11-10 20:37] michaltakac commented on #5
+1 @Letladi

[2015-11-10 20:40] michaltakac commented on #22
This would be useful for you, but do you want to track how many people seen users' post and display it to him somewhere in his (future) admin panel/profile page?

[2015-11-10 20:46] pmuens commented on #22
That's a really good idea. I also don't like that kind of tracking by Google.

Maybe we should focus on the protecting the users data as much as possible.

[2015-11-10 20:50] pmuens commented on #29
Good point. I looked at it in the past but I couldn't manage to get it working with different routes (One view should display only the sign up form, the other one the sign in form, ...).

[2015-11-10 20:51] #26 closed

[2015-11-10 20:53] michaltakac opened #32 "Testing"
Should we just quickly prototype and start testing later?
Should we prototype without testing?
Any thoughts about testing appreciated (how, what to use, Travis CI and so on).

[2015-11-10 20:53] pmuens commented on #27
Thank you! Yes, that's a good package. We could implement this when the user profiles (#21) are done!

[2015-11-10 20:53] cirsca commented on #12
We implemented something like this on a recent learning project. What we did was add a property to the user's profile that was an array called "subscriptions" that held the _id of whatever the user was subscribing to.

I think it was using the user creation hook to create an array on user create. And then in their feed it was Collection.find({_id: $in profile.subscription}) or something along thos

[2015-11-10 20:55] pmuens commented on #32
Testing would be great, but I don't have any experiences with it so far (I have tinkered around with mocha and jasmine).

Do you have any experiences with Meteor and testing? Travis CI would be great as well.

[2015-11-10 20:57] pmuens commented on #12
Hey @cirsca thank you for mentioning that. It would be great if you could share the code! :+1:

[2015-11-10 21:24] michaltakac commented on #32
Not much but have already setup Travis CI for one of my side-projects. This project seems like great opportunity to dive into tsting a bit further!

[2015-11-10 21:30] michaltakac opened #33 "CSS framework"
Did you consider using any CSS framework such as Bootstrap or Foundation?
Maybe Bootstrap with one of [Bootswatch's](https://bootswatch.com/cerulean/) themes or creating custom with own variables?

I think this will speed-up prototyping UI + responsiveness out of the box.

[2015-11-10 21:33] michaltakac commented on #33
Nevermind, didn't know what skeleton:skeleton package means! :D
So I'll look into http://getskeleton.com/ documentation.

[2015-11-10 21:33] #33 closed

[2015-11-10 22:05] cirsca commented on #12
Meteor.users.before.insert(function (userId, doc) {
      doc.profile.subscriptions = [];
    });

would be the creation hook to create an empty array under the user's profile property and to toggle the subscriptions we had:

    subscribeToggle: function (curUser, thisId) {
       var position = curUser.profile.subscriptions.indexOf(thisId);

        if (position >=0) {
          Meteor.users.upd

[2015-11-10 22:34] micahalcorn commented on #30
+1

[2015-11-10 23:33] michaltakac commented on #19
[tap:i18n](https://atmospherejs.com/tap/i18n)

[2015-11-11 00:16] nchenbang commented on #24
If you have decided to stick with Blaze for this project, I think you can have a look at the blaze component which allows you to write reusable components in Blaze.

[2015-11-11 00:22] niallobrien commented on #24
@nchenbang The API for Blaze Components isn't the best either though...

[2015-11-11 04:22] pmuens commented on #32
Yes, maybe we can start with some tests but also prototype without testing so that we can implement new features faster.

[2015-11-11 04:23] pmuens commented on #12
@cirsca thanks!

[2015-11-11 06:42] nchenbang commented on #24
Well, I don't think you've much choice if you want to write components in Blaze.

[2015-11-11 08:21] pmuens commented on #24
Yes, maybe we should transition to Reactive. But I'm not sure if it's a safe bet.

Do you guys have any information how the MDG will deal with Blaze in the future? There are some rumors that the built React on top of it, but I'm not sure if it's true...

[2015-11-11 08:26] niallobrien commented on #24
Sashko answered my Blaze question during the recent Crater AMA with MDG. Basically it doesn't make sense for MDG to support Blaze any longer, according to them that is.

[2015-11-11 08:49] michaltakac commented on #30
Swap it for dropdown menu, where link to user profile and logout can be added?

[2015-11-11 08:59] pmuens commented on #30
Good idea @michaltakac
User profiles will be one of the upcoming features so there should be a convenient way for the user to get to his settings / update profile menu.

Only "harder" part would be the mobile friendliness.

[2015-11-11 08:59] pmuens commented on #24
@niallobrien thanks! Good to know!

[2015-11-11 09:07] mbaur commented on #26
Thx @michaltakac you're the man!

[2015-11-11 09:22] drgorb opened #35 "signup and login with google, facebook, twitter, github et al"
With all the online profiles I allready have, it would be nice to being able to reuse one of them to create a profile on gravity.

maybe G+ and Facebook are not the best choice as they are competitors but twitter and Github definitely are and OpenID should be an option.

[2015-11-11 09:28] pmuens commented on #35
Good idea! Thanks for the input!

[2015-11-11 10:12] #28 closed

[2015-11-11 10:24] pmuens commented on #29
Closed with c83247f

[2015-11-11 10:24] #29 closed

[2015-11-11 10:26] pmuens opened #36 "Remove unnecessary check for length of username and email"
This may be obsolete because of the user accounts package (introduced in c83247f)

https://github.com/GravityProject/gravity/blob/master/server/startup.js

[2015-11-11 10:49] #30 closed

[2015-11-11 10:58] pmuens opened #37 "Visiting of reset password link not possible"
Route is forbidden to visit.

[2015-11-11 11:00] pmuens opened #38 "clear form button for post form"
should be left-aligned. so that the user can clear the form with one click.

[2015-11-11 11:06] #38 closed

[2015-11-11 11:18] #7 closed

[2015-11-11 11:21] pmuens opened #39 "Autogrow for add post forms textarea"
Add autogrow functionality for add post form so that the screen real estate is used more wisely.

[2015-11-11 11:23] pmuens opened #40 "Automatically scroll to bottom after clicking on "Load more" button"
This increases the UX because right now it's bad to scroll every time new posts are loaded.

[2015-11-11 11:31] pmuens opened #41 "Add gravity Logo"
Add the gravity logo to all the uses useraccounts forms (like sign in, sign up, ...).
Add it in the header (left aligned to the "Galaxy" lettering).
![noun_12582](https://cloud.githubusercontent.com/assets/1606004/11090186/0e41ab8e-8870-11e5-9908-cce941c47b14.png)

[2015-11-11 11:35] pmuens opened #42 "Force E-Mail verification after sign up and clean up database (remove fake accounts)"
Force the user to validate their E-Mail address so that fake accounts can not be created anymore.

[2015-11-11 13:02] drgorb opened #43 "allow markdown in posts"
in order to format one's post it would be nice to be able to use markdown. there is a meteor package for that

[2015-11-11 13:41] pmuens opened #44 "Add visible reference to GitHub repository"
Add a reference to the GitHub repository so that all users can see it directly (maybe with the help of a bottom fixed div) in an unobtrusive way. But don't use the "Fork me on GitHub" banner.

[2015-11-11 13:42] pmuens commented on #43
Good idea. Do you know what Meteor package serves this well?

[2015-11-11 13:53] pmuens opened #45 "Overview of all registered users"
To see all the registered users on the platform.

[2015-11-11 14:41] josephdburdick commented on #43
@pmuens I've had good luck with https://github.com/chuangbo/meteor-marked

[2015-11-11 14:43] josephdburdick commented on #40
I think what you really want is to scroll to the top of the newly created content. Scrolling to bottom can be jarring on mobile.

[2015-11-11 15:02] pmuens commented on #43
@josephdburdick Thanks man! I'll look into it!

[2015-11-11 15:03] pmuens commented on #40
@josephdburdick good point. Seems legit :laughing:

[2015-11-11 15:05] michaltakac commented on #44
+1, maybe add footer text (copyright, made with <3 by etc. :D) to this fixed div on the bottom of layout and add link to github repo there. Fixed bottom div is great idea because it wont be burried down there under all posts :+1:

[2015-11-11 15:10] niallobrien commented on #24
Let me clarify, they will accept PRs etc. and Blaze is unlikely to go anywhere right now, but I don't think Blaze 2.0 is on their roadmap. Also, the sheer number of time saving packages that are available for Blaze is a no-brainer imo.

[2015-11-11 15:15] pmuens commented on #24
Yes, that's correct.
Having used React in some prior projects (Meteor and not Meteor related) I don't see any benefit if one does not use dump components and stuff like that.

[2015-11-11 15:15] michaltakac commented on #36
Yes, useraccounts will take care of this.

[2015-11-11 15:16] pmuens commented on #36
Thanks. It should be removed then.

[2015-11-11 15:19] niallobrien commented on #24
Perhaps further down the road when there's some more Meteor specific React packages available, it might be worth revisiting, but for now I think this issue should be closed.

[2015-11-11 22:43] michaltakac commented on #35
With current useraccounts package it's fairly easy to implement:
https://github.com/meteor-useraccounts/core/blob/master/Guide.md#3rd-party-login-services-configuration

Question is - will it merge multiple social logins/signups from same user together? Well, there's package for it: https://atmospherejs.com/splendido/accounts-meld

[2015-11-11 22:55] michaltakac commented on #37
This is not a bug actually, reset password route will be only visible for people who click on reset password link which will be sent to user's email after requesting that reset. First we need to implement the mailer functionality (I added hints and documented the process of such implementation to my 2nd pull request you merged).

Logged-in users can change their passwords here http://joingravity.c

[2015-11-12 07:32] pmuens commented on #37
Yes, I've implemented the mailer functionality and have requested a new password. After clicking on the link in the E-Mail I was redirected to the route where I could change my password but I was redirected to the sign in page with the hint that I should sign in first.

I'll look into it ASAP.

[2015-11-12 07:33] pmuens commented on #35
Thanks. I would highly recommend the merging process. Otherwise users may not remember that the already have an account or have already signed in with a different provider.

[2015-11-12 10:53] pmuens opened #46 "Icons for navigation elements"
Add icons for the navigation elements and remove the bullet points.

[2015-11-12 10:58] #46 closed

[2015-11-12 11:27] drgorb opened #47 "Conversations"
the topics will naturally grow into conversations. It should be possible to

- view the topics by conversation
- join a conversation
- subscribe to alerts in a conversation

[2015-11-12 11:30] drgorb opened #48 "Tags for posts and conversations"
When posting the first entry of a conversation, the creator should be able to tag it.

Participators in the conversation (i.e. people who respond to the post) can suggest tags but the suggestion has to be approved by the creator.

[2015-11-12 13:34] #21 closed

[2015-11-12 13:35] pmuens commented on #47
:+1:

[2015-11-12 13:37] pmuens commented on #48
Refs #47

[2015-11-12 15:34] josephdburdick commented on #13
"But you can't! Relational databases!"

[2015-11-12 15:51] pmuens commented on #13
:laughing:

[2015-11-12 16:46] pmuens opened #49 "HTML head title attribute not set correctly"
FlowRouter does not set the title correctly (stays when navigating between pages).

[2015-11-12 18:10] ai10 opened #50 "google hangout"
maybe we can schedule a hangout to discuss roadmap, architecture thoughts etc.?

I have some strong opinions about a 'social organization' application which is a little bit different from a 'social network' concept.

[2015-11-12 20:08] pmuens commented on #50
That is a good idea. I have also some questions about the future of the project. Whether it should be a social network especially for Meteor guys, or a more general place to hang out where "ordinary" people would also sign up.

Maybe we should make some noise and gather other people as well to discuss the future of Gravity.

[2015-11-12 20:09] pmuens commented on #50
@8mylez @michaltakac guys, what do you think?

[2015-11-12 20:12] 8mylez commented on #50
Sounds good!
Philipp Muens <notifications@github.com> schrieb am Do., 12. Nov. 2015 um
21:09:

--
Herzlichen Dank!

mit den besten Grüßen aus Paderborn

*Alexander Wolf*
Geschäftsführender Gesellschafter

*Telefon:* +49 5251 7776630

*E-Mail:* alexander.wolf@goltfisch.de / i@8mylez.com
*Web:* goltfisch.de / 8mylez.com

Goltfisch GmbH
Lesteweg 9
33106 Paderborn

Geschäftsführer: Marc Baur, Philipp

[2015-11-12 20:27] mbaur opened #51 "upvote / downvote"
add the feature to rank a post positive or negative

[2015-11-12 20:34] #11 closed

[2015-11-12 20:36] pmuens commented on #51
I think this feature is a good thing.

But we should make it possible to sort by different attributes (such as creation time, up votes, down votes, ...).

The algorithm which ranks this votes is fundamental for a good user experience. We should take a look at TelescopeJS. They solved the problem in a great way.

[2015-11-12 20:40] pmuens opened #52 "Hide "Load more" button when there is nothing more to load"
Right now the load more functionality is realized with the help of reactiveVars.

There ist he famous paginagedSubscription package out there which adds the functionality easily. But it was always (in most of my cases) not correct and showed a load more button even if everything was loaded.

However there is also the https://github.com/alethes/meteor-pages package. Perhaps this is the way to go...

[2015-11-12 20:51] pmuens opened #53 "Allow filtering of posts in feed by users the current user follows"
It should be possible to see all posts, but also to see only the posts of the users the current user follows.

[2015-11-12 22:42] michaltakac commented on #50
Would be cool :+1:

[2015-11-12 22:56] josephdburdick commented on #50
@pmuens Think big. This could be the open-source rival of http://Ello.co

[2015-11-13 01:36] AndrewGodwin86 opened #54 "Allow "mentioning" of users in posts"
Like other social networks/comms apps, allow mentioning, i.e. @ + username, of users in posts.

Then probably notify mentioned users of post.

[2015-11-13 07:17] pmuens commented on #50
@josephdburdick yes, I think that this should have big ambitions and should be open for everyone (not just developers).

Let's build something huge!

[2015-11-13 07:18] pmuens commented on #54
Yes, that's a good idea. Thanks!

[2015-11-13 07:54] mbaur opened #55 "Add web profiles"
Possibility to link e.g. Twitter, GitHub, Facebook profiles in gravity account.

[2015-11-13 10:49] AndrewGodwin86 commented on #54
Not tried it out yet but I found this package which looks like it might do the job:
https://github.com/tsega/meteor-mentions

[2015-11-13 10:54] AndrewGodwin86 commented on #54
At.js also looks promising
https://github.com/ichord/At.js

[2015-11-13 11:12] pmuens commented on #54
That's really cool. Great resources. Thanks!

I've used this https://github.com/mizzao/meteor-autocomplete in the past but I think your packages are way more lightweight.

[2015-11-13 11:16] #12 closed

[2015-11-13 11:17] pmuens commented on #13
Closed because of following functionality (Committed with  6d8eb4d) which should be sufficient for now.

[2015-11-13 11:17] #13 closed

[2015-11-13 13:18] #45 closed

[2015-11-13 13:19] pmuens opened #56 "Search for registered users"
Add search for users (username and E-Mail address) in browse users view.

[2015-11-13 14:42] ai10 commented on #25
I'm interested if our visions are compatible;

I'm pushing to:
https://github.com/ai10/gravity.git

and the first feature i'm working on is 'Faces' somewhat like the 'Aspects' in Diaspora; where a single user can have multiple profiles and face_names; for e.g. one for work, one for politics, one for kittens, etc.

[2015-11-15 13:19] ai10 opened #61 "Diaspora Aspects mutated as Faces"
https://diasporafoundation.org/getting_started/aspects

I am dereferencing 'usernames' to a 'Faces' collection to enable users to have different handles or alias which they can post under. This provides a privacy layer, compartmentalization of interests, and diversity of interest.

[2015-11-16 14:18] lucendio opened #62 "joingravity.com over TLS"

[2015-11-16 18:09] #41 closed

[2015-11-17 04:10] pmuens commented on #52
Closed with b7598abe3c9588fbc07433b667e68fb483ee4a6c and 03efbd1447dd3541f9a57faeba8b027e7e11964f

[2015-11-17 04:10] #52 closed

[2015-11-17 12:52] nchenbang opened #63 ""There are no matching posts to display" message is being displayed whenever the subscription is not ready."

[2015-11-17 13:10] nchenbang opened #64 "Agree on using either self or instance to refer to this in Blaze Template"
[code]

Something like this will do. I personally prefer to use instance over self but it won't matter much as long as we don't use `this` which is really confusing and makes us hard to reason about data context.

[2015-11-17 14:17] nchenbang commented on #63
Would you mind if I send in a pull request for this?

[2015-11-17 15:44] pmuens commented on #63
Yes, sure!

[2015-11-17 17:00] pmuens commented on #63
Could you take a look at the other subscriptions as well? (the one on the users profile and the one where users can browse users. They are nearly the same).

[2015-11-17 17:02] pmuens commented on #25
Good stuff! :+1:

[2015-11-17 20:58] pmuens opened #65 "Remove flickering while loading view"
The view "flickers" a little bit when it's loaded. This is caused by the layout.html file where two different areas are defined (one for the signed in user and one for the signed out user).

https://github.com/GravityProject/gravity/blob/master/client/views/layout.html

This needs to be refactored to just one section where the view is yielded.

[2015-11-17 23:38] nchenbang commented on #63
Sure no problem

[2015-11-18 08:55] cirsca commented on #55
Would we want the user to be able to sign-in with any of them and still be led to the same gravity account or have it to where the user can sign-in with a social media account but also add links to other social media profiles without having the ability to use those links to sign-in?

I have some code for the latter of the two but haven't found a good secure way of doing it for the former.

[2015-11-18 09:01] 8mylez commented on #55
@cirsca i think @mbaur thought about the possibility to show other people your web profiles (e.g. twitter, github, Facebook ...).

@pmuens had the idea to make a text input, where the user can copy all his web profile links separated with commas. On the profile view this links would be visible.

The sign up via oauth should be a new issue.

[2015-11-18 09:12] pmuens commented on #55
Yes, @8mylez is correct. It's discussed in #35

[2015-11-18 10:33] pmuens opened #66 "Add linter"
Add a linter which is run automatically during development. So that the code is checked automatically if the code conventions are met.

[2015-11-18 20:59] pmuens opened #68 "Overview of users I follow"
See who I am following.

[2015-11-18 20:59] pmuens opened #69 "Overview of users who are following me"

[2015-11-19 01:22] cirsca commented on #55
Is anyone else working on this? If not, I'll try to get a PR for it tonight or tomorrow.

[2015-11-19 05:49] 8mylez commented on #55
@cirsca if you like, you can make a PR. :)

[2015-11-19 07:23] pmuens commented on #55
@cirsca great! It would be cool if the user can enter an arbitrary amount of links in a textarea separated by commas or newlines. This long text should be splitter up into the corresponding links when it's rendered on the users profile view.

[2015-11-19 07:45] pmuens opened #70 "Only one line for insert post textarea"
The insert post textarea should have only one line when initialized.

Use combination of `min-height: 40px;` and `rows=1`.

[2015-11-19 11:57] nchenbang commented on #24
Following the official announcement on the future of Blaze, should we revise our previous decision and consider to use React in this project?

[2015-11-19 12:14] niallobrien commented on #24
Personally, I'd continue as planned and wait for Blaze 2. No need to jump into the React boat just yet imo.

[2015-11-19 16:39] pmuens commented on #24
Yes, good question.

This is the discussion BTW:
https://forums.meteor.com/t/next-steps-on-blaze-and-the-view-layer/13561

I would also wait a little bit and watch what happens. Many apps depend on Blaze these days and we should have enough time for the transition when things are a little bit cleaner (IMHO).

[2015-11-19 18:25] #53 closed

[2015-11-19 18:29] #70 closed

[2015-11-19 18:56] #68 closed

[2015-11-20 09:43] #69 closed

[2015-11-20 10:05] pmuens opened #72 "Interests in user profile"
Users should be able to add their interests in their user profile (e.g. like "meteor", "programming", ...).

[2015-11-20 10:06] pmuens opened #73 "Overview of all interests"
A page where all interests are shown.

If the user clicks on the interest all corresponding users who have this interest are shown.

[2015-11-20 10:07] pmuens opened #74 ""Show me someone interesting""
A button where the user can click on. The interests are matched and a user profile is shown with a user who shares the same interests (randomly picked).

[2015-11-26 18:25] pmuens commented on #24
After reading this (https://www.discovermeteor.com/blog/blaze-react-meteor/) blog post by the guys of discover meteor I think it's a good thing to use React for new Meteor projects as recommended.

I'll start the transition to React the upcoming weeks.

[2015-11-26 18:25] #24 closed

[2015-11-26 18:43] #44 closed

[2015-11-27 10:29] nchenbang opened #76 "Add dynamic height to the container"
The footer position will go upward in views with short content.

[2015-11-27 14:53] pmuens commented on #76
Good catch!

[2015-11-28 14:58] pmuens opened #78 "More performant user presence package"
Use a more performant user presence package.

Refs PR #75

[2015-11-28 15:03] #76 closed

[2015-11-28 15:22] pmuens opened #79 "Minimize height of textarea after post was submitted"

[2015-11-30 10:45] nchenbang commented on #66
Do you want to use the same configuration that Meteor uses or you've your own preferred configuration in your mind?

[2015-11-30 11:07] pmuens commented on #66
I think the same as Meteor should be sufficient!

[2015-11-30 12:23] nchenbang commented on #66
Do you mean this one [JSHint](https://github.com/raix/Meteor-jshint)? I'm not sure if that package is still maintained but according to this [meteor todos](https://github.com/meteor/todos), you just need to add these three files

- .eslintignore
- .eslintrc
- .eslintrc-meteor

and then run `eslint.` to check whether your code matches the MDG style guide. If you want the linter to run automatically

[2015-11-30 14:37] pmuens commented on #66
Thank you.

https://github.com/meteor/meteor/tree/devel/packages/jshint this package looks nice and it's maintained by the MDG.

Maybe we can utilize it!

[2015-11-30 19:39] #56 closed

[2015-12-01 08:14] nchenbang commented on #66
Do you know if there is any way to convert eslint rules into jshint?  The problem I'm facing right now is MDG only provides eslint configuration for their official style guide and you can have a look [here] (https://github.com/meteor/meteor/blob/devel/scripts/admin/eslint/.eslintrc).

[2015-12-01 10:24] pmuens commented on #66
Hmm. No, I have absolutely no clue...

[2015-12-01 10:55] nchenbang commented on #66
Ok, I've found the solution, just stumbled across this awesome [package] (https://github.com/dburles/meteor-eslint) for adding eslint plugin instead of jshint plugin into the Meteor build system.

Would you mind me sending in the PR?

[2015-12-01 11:26] pmuens commented on #66
Great! Yeah, please send the PR! :+1:

[2015-12-01 15:49] #66 closed

[2015-12-09 13:59] thwillingham opened #82 "Code in a post"
When adding some HTML/JavaScript to a post, the text disappears after clicking submit.
Case in point:  I tried to enter <script type="text/javascript">alert("hello, world!")</script> as my first post, and nothing actually posted.

[2015-12-09 15:23] pmuens commented on #82
Good catch :+1: . I think this has something to do with sanitizing the input.

[2015-12-25 03:59] mattvella07 commented on #79
Hey @pmuens I can take this issue.  Looking forward to contributing to this project!

[2015-12-25 07:51] pmuens commented on #79
@mattvella07 great! Just submit a PR.

[2015-12-26 03:02] mattvella07 commented on #25
I'm interested!

[2015-12-30 11:27] #79 closed

[2015-12-30 11:31] pmuens commented on #25
@mattvella07 I've invited you :+1:

[2015-12-30 15:25] josephdburdick commented on #25
I'm interested :metal:

[2015-12-30 16:31] pmuens commented on #25
@josephdburdick I've invited you as well. Rock on! :metal:

[2016-02-08 13:08] wizardsambolton commented on #25
Im interested

[2016-02-08 14:30] pmuens commented on #25
@wizardsambolton I've invited you

[2016-02-08 14:37] wizardsambolton commented on #25
Ive accepted!

[2016-02-08 14:59] pmuens commented on #25
Great!

[2016-02-08 17:27] wizardsambolton opened #84 "Profile pictures."

[2016-02-08 18:31] pmuens commented on #84
Do you have an idea how to implement that? Store the pictures on the server or use something such as Filepicker?

[2016-02-18 05:17] onedaylove commented on #84
@pmuens Do you think something like Gravatar could be used? What about using Facebook or Google login and have it just ask for the user's profile picture?

[2016-02-18 23:52] mattvella07 commented on #6
I think this could be something in addition to #5.  I think of this more like email (where you can send to someone even when they aren't online) and #5 more like chat (where the other person has to be online).  Just my thoughts.  I would like to work on this one though :raised_hands:

[2016-02-19 06:44] pmuens commented on #6
@mattvella07 great. Yes, it should support offline usage. Maybe something like the Facebook messenger. I'll assign you!

[2016-02-24 04:38] mattvella07 commented on #6
@pmuens Sounds good, I'm working on it

[2016-02-24 04:46] mattvella07 opened #85 "Confirmation Popups"
I noticed that we are using the default javascript confirm for delete confirmation.  What do you all think about using something like SweetAlert: https://atmospherejs.com/kevohagan/sweetalert?

[2016-02-24 08:00] pmuens commented on #6
Great! Thanks!

[2016-02-24 08:01] pmuens commented on #85
Yes. Good idea.

SweetAlerts are great. But it should get some custom styles (Skeleton breaks the SweetAlert styles) so that it looks nice.

[2016-03-08 06:54] mattvella07 commented on #85
I have been experimenting with Sweet Alerts, what do you think of these?  For deleting a post and a message.

![screen shot 2016-03-08 at 1 52 50 am](https://cloud.githubusercontent.com/assets/9948628/13594222/924ccd20-e4d0-11e5-8175-4750f54b1df8.png)

![screen shot 2016-03-08 at 1 53 04 am](https://cloud.githubusercontent.com/assets/9948628/13594223/9251334c-e4d0-11e5-810b-11d0bbdc3c6c.png)

[2016-03-08 06:54] mattvella07 commented on #85
Looks like the border got cut off in my screenshot, but it is there.

[2016-03-08 13:38] pmuens commented on #85
Thank you! That looks great. Just submit a PR so I can merge it.

[2016-03-08 15:26] mattvella07 commented on #16
@pmuens Are you working on this?  If not, I can work on it.

[2016-03-08 16:20] pmuens commented on #16
Yeah I started something but was not quire sure how to solve it (e.g. inline editing vs. new page).

What UX do you prefer?

[2016-03-08 16:30] mattvella07 commented on #16
That's a good question, I would say inline editing.

[2016-03-08 16:43] pmuens commented on #16
Yes, I would prefer that as well. It's also faster than switching between different views and we can use it at other places!

Do you use a package or implement it on your own?

[2016-03-08 16:48] mattvella07 commented on #16
I haven't looked at it too much, but I was thinking about implementing it using a template to hold a textarea and loading that template when the edit button is clicked.

[2016-03-08 16:50] pmuens commented on #16
That's a good idea! :+1:

[2016-03-08 17:08] mattvella07 commented on #16
Thanks!  There's still a lot of meteor packages I'm not that familiar with.

[2016-03-09 12:51] #6 closed

[2016-03-09 12:52] #5 closed

[2016-03-09 12:52] #85 closed

[2016-03-09 23:17] mattvella07 opened #87 "Unread Message Count on Sidebar"
I think it would be cool to add the count of unread messages to the "Messages" sidebar menu item that way as soon as you log in you can see how many unread messages you have.

[2016-03-09 23:24] mattvella07 commented on #55
@pmuens Has this been implemented already?

[2016-03-09 23:24] mattvella07 commented on #3
@pmuens What are you thinking on this one, a new page where people can post/view open jobs?

[2016-03-10 07:35] pmuens commented on #87
Yes, that was something i recognized yesterday.

Thanks for the PR I'll merge it ASAP!

[2016-03-10 07:36] pmuens commented on #55
@mattvella07 not yet.

[2016-03-10 07:39] pmuens commented on #3
Yes. A new page would be great. I think at first a pretty easy CRUD job board is sufficient.

[2016-03-10 09:54] pmuens opened #89 "Stay in 1:1 message after message is submitted"
It would be great if one could stay in the 1:1 message after the message was sent.

@mattvella07 Could you take a look at it? Thanks!

[2016-03-10 09:55] pmuens opened #90 "Dropdown with available usernames when composing message"
Get a list with autocompletion for available usernames when a message is composed.

[2016-03-10 12:27] mattvella07 commented on #89
@pmuens Yea definitely.  Just to clarify, you want to stay in the "compose" section after the sent message right?

[2016-03-10 12:28] mattvella07 commented on #90
I was thinking about this too, I can look into it.  Do you think it should have all users or just users you are following?

[2016-03-10 14:45] pmuens commented on #89
Yes, when I have a chat open and submit a message. It would be great when I stay in the open chat.

[2016-03-10 14:46] pmuens commented on #90
Hmm. The coolest would be to write anyone. Otherwise you need to follow the user beforehand which might seem a little bit tedious.

We could think of another version later on.

[2016-03-10 15:02] mattvella07 commented on #89
That's a good idea, I can work on that later today.

[2016-03-10 15:02] mattvella07 commented on #90
Yea I agree.  I can look into this.

[2016-03-10 15:43] pmuens commented on #89
Awesome. Thank you!

[2016-03-10 15:43] pmuens commented on #90
Thanks :+1: You're a really valuable member of this organization!

[2016-03-10 18:37] mattvella07 commented on #90
Thanks!  This is a really cool project, I like working on it.

[2016-03-10 21:22] mattvella07 commented on #89
Created pull request for this, I think this is what you were referencing but check it out and let me know what you think.  When creating a new message it goes back to the "all messages" section but when replying to one it stays in that area.

[2016-03-11 14:23] mattvella07 opened #93 "Text Overflowing DIV on Post"
I noticing when I posted a post with a long URL it overflowed the bounds of the DIV, see screenshot below:

<img width="1440" alt="screen shot 2016-03-11 at 9 20 11 am" src="https://cloud.githubusercontent.com/assets/9948628/13704636/ddf6911a-e76a-11e5-9196-8ab6f6f18d6e.png">

[2016-03-11 14:26] pmuens commented on #93
Thanks for reporting. How should we fix that? Just an `overflow: hidden` or a scroll?

[2016-03-11 14:30] mattvella07 commented on #93
I think if we add this to the less file for Feed page it should work:

.post {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

I'm not at my personal computer (which has the repo) so I just tried in the browser and looks like it works.

[2016-03-11 14:31] pmuens commented on #93
Great. Thanks for checking that out!

[2016-03-11 14:32] happyoniens commented on #90
I think this issue can be closed, since #92 is merged.

[2016-03-11 14:35] mattvella07 commented on #90
:+1:

[2016-03-11 14:36] pmuens commented on #90
@happyoniens Yep. You're right. Forgot that. Thanks!

[2016-03-11 14:36] #90 closed

[2016-03-11 14:52] happyoniens opened #94 "Multi language support"
It would be nice if gravity has support for multiple languages.

I have done a quick research and have found this [package](https://github.com/TAPevents/tap-i18n) but maybe there are better ones.

[2016-03-11 14:56] pmuens commented on #94
Thanks. TAP i18n is a good choice.

[2016-03-13 02:46] mattvella07 opened #97 "Notifying Mentioned Users"
Now that posts have support for mentioning users, it would be cool to notify that user they were mentioned in a post.  I just can't figure out where/how they should be displayed, any ideas?  And should mentioned users be highlighted as link so you could click on their name and go directly to their profile?

[2016-03-13 03:10] mattvella07 commented on #8
Looks like markdown supports code highlighting: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code, so I think #43 will solve this one too.

[2016-03-14 10:23] pmuens commented on #97
Good idea!

[2016-03-14 10:23] pmuens commented on #8
Yep. This might be related!

[2016-03-14 10:25] #93 closed

[2016-03-17 10:21] happyoniens commented on #25
I'm interested :smile:

[2016-03-17 10:28] pmuens commented on #25
Great! I've invited you.

[2016-03-20 20:49] mattvella07 commented on #89
Completed :+1:

[2016-03-20 20:49] mattvella07 commented on #87
Completed :+1:

[2016-03-21 04:20] #89 closed

[2016-03-21 04:20] #87 closed

[2016-03-21 04:21] #55 closed

[2016-03-21 20:15] mattvella07 opened #99 "Notification of New Follower"
What do you think of a notification, maybe similar to the Messages with the "(1)" , when someone follows you?  Then once you click on the "Followers" menu item the notification is removed.  Just an idea.

[2016-03-22 08:04] pmuens commented on #99
Great idea! Maybe we can make the notifications global. So that they can be reused for other purposes (the way it's done by Facebook).

[2016-03-22 18:09] mattvella07 commented on #99
Yea, I think a "notification center" would be a cool idea

[2016-03-22 18:30] mattvella07 opened #100 "Update Displayed Time on a Post"
In the feed the posts have the time that they were posted and it always shows the 24 hour time with the full date.  I think it would be cool to make it more dynamic and only show what is necessary, similar to how message does or the Facebook or LinkedIn news feed.  Any thoughts?

[2016-03-22 20:10] pmuens commented on #99
:+1:

[2016-03-22 20:11] pmuens commented on #100
Yes. smth. like "2 hours ago" would be cool I think!

[2016-03-23 04:25] #100 closed

[2016-03-24 04:40] zaverichintan commented on #84
We can use amazon or on own server. By file picker in front end and Backend with meteor file collection

[2016-03-24 04:44] zaverichintan commented on #50
Hey!  Kindly have hangout every month or fortnight, so that new devs like me can join in.
It will be more fun..

[2016-03-24 04:52] zaverichintan commented on #25
I m interested

[2016-03-24 05:13] pmuens commented on #84
Yes. file picker sounds good. Gravity is hosted on Heroku so I can add it to the application.

[2016-03-24 05:14] pmuens commented on #25
Invited you!

[2016-03-24 13:07] zaverichintan commented on #84
Meteor can use - https://atmospherejs.com/mrt/impicker-security .
Kindly suggest.

[2016-03-24 13:34] zaverichintan opened #104 "Trailing space"
Trailing space creates some problem -

 collections/messages.js:81:5: "Messages" is not defined.
 collections/messages.js:81:47: Unnecessarily quoted property
 `conversation` found.
 collections/messages.js:86:7: Trailing spaces not allowed.
 collections/messages.js:87:5: Expected space or tab after // in
 comment.
 collections/messages.js:88:5: Keyword "if" must be followed by
 whitespace.
 colle

[2016-03-24 13:40] pmuens commented on #84
Looks great. We've used this before https://atmospherejs.com/goltfisch/filepicker

Maybe we wait until Meteor 1.3 so that we can use the official NPM package...

[2016-03-24 13:53] zaverichintan commented on #65
Hey, is it s bug in meteor?  I have been facing this in mobile browser alot.

[2016-03-24 14:11] mattvella07 commented on #104
@zaverichintan I can look into this, what were you doing when this occurred?

[2016-03-24 14:33] pmuens commented on #65
No it's an implementation issue (because the check if the user can see it is done after the view is rendered).

[2016-03-24 14:36] zaverichintan commented on #104
This occurred when I was running the app by cmd command - " meteor ".
Do we have rules on our code editor like no trailing spaces?

[2016-03-24 14:39] zaverichintan commented on #65
oh. so we can check it with controller or router, I mean we can check it in JS part and then render the corresponding html (view) part , sounds good ?

[2016-03-24 14:40] mattvella07 commented on #104
Ok, so it didn't crash or throw an error when you were using it then?

That's a good question, @pmuens would probably know.

[2016-03-24 14:54] zaverichintan commented on #104
No, it works perfectly.
But it's a discipline that can be implemented.

[2016-03-24 14:59] pmuens commented on #104
We have a linter which checks your code constantly.

I prefer training spaces at the end of the file

[2016-03-24 15:04] zaverichintan commented on #104
EOF is ok.
But why does meteor throw warning/errors?

[2016-03-24 15:09] mattvella07 commented on #104
I can easily fix the spacing warnings later today

[2016-03-24 15:16] zaverichintan commented on #104
That's great. To reproduce,  try to make one dir, clone it and run meteor by -  'meteor'.
There is a whole list of errors that I couldn't attach.
You can do use atom editor with remove trailing space option.  Or u might even use github command to remove white space

[2016-03-24 15:21] mattvella07 commented on #104
I was just going to add the white spaces, I wasn't going to change the linter settings.  I'll let @pmuens adjust the linting settings to what he wants.

[2016-03-24 15:22] pmuens commented on #104
Great :+1:

[2016-03-24 15:24] pmuens commented on #65
I think we need just one section where the view is rendered for the layout. That should be sufficient:

https://github.com/GravityProject/gravity/blob/master/client/views/layout.html

[2016-03-24 23:22] mattvella07 commented on #104
I got rid of a lot of the warnings from the linter, but there still are a lot left.  @pmuens any idea how to get rid of these:
    - Definition for rule 'prefer-template' was not found
    - Definition for rule 'prefer-arrow-callback' was not found
    - Definition for rule 'no-dupe-class-members' was not found

They are on most pages so maybe if the linter can be configured to ignore those that w

[2016-03-24 23:34] zaverichintan commented on #104
After changing linter, we can make a contributor'guide later on, so tha new contributors can easily contributing.

[2016-03-25 04:40] pmuens commented on #104
That's a good idea! Thank you guys for the contributions so far!

[2016-03-25 09:20] zaverichintan commented on #104
https://github.com/GravityProject/gravity/pull/106
Done, added details for space usage

[2016-03-25 09:25] pmuens commented on #104
Awesome! Thank you!

[2016-03-25 17:21] #104 closed

[2016-03-26 10:37] zaverichintan commented on #49
Iron router can be used instead

[2016-03-31 10:26] happyoniens commented on #99
If we want to make the notifications global we should consider to merge this issue with #97, so we don't have duplicated issues.

[2016-03-31 10:36] pmuens commented on #99
Correct. closed #97 in favor for this one!

[2016-03-31 10:36] #97 closed

[2016-03-31 14:45] happyoniens commented on #99
Great :+1:  also it would be a good idea to rename this issue to something like "global notifications" or "notification center".

[2016-04-01 19:34] zaverichintan commented on #82
@pmuens found something?

[2016-04-01 19:38] zaverichintan commented on #35
Is someone working on it?

[2016-04-01 19:42] zaverichintan commented on #20
@pmuens can you please start a thread on trello?

[2016-04-01 19:45] mattvella07 commented on #35
I completed the closed issue #55 that allowed users to link their social media accounts to their profile, but this is different.  So I don't think anyone is working on this one.

[2016-04-01 19:54] zaverichintan commented on #35
That was to link the accounts after signing in and adding links to the text box.
This is regarding sign up and login.
Correct me if I am seeing

[2016-04-01 19:58] mattvella07 commented on #35
Yes

[2016-04-03 13:44] zaverichintan opened #108 "Can we have first name last name instead of username?"
This will allow users to know other users by name, username is not very friendly.
Any suggestions?

[2016-04-04 06:28] pmuens commented on #108
Good idea. Maybe we can make this optional so that users who want to protect their privacy are not forced to reveal their real name

[2016-04-04 06:30] pmuens commented on #82
The sanitizing of Meteor will prevent this. I think that #8 and #43 are related to this and an implementation of those two issues will resolve the issue.

[2016-04-04 06:31] pmuens commented on #20
Do you guys still think that a tool break is great? What are the pros using Trello instead of keeping all the discussion in GitHub?

[2016-04-04 07:06] zaverichintan commented on #108
Yes, making optional is a better work around.
I believe that social network establishes connection between people, so knowing names would be appreciated

[2016-04-04 07:09] zaverichintan commented on #20
For UI purpose we can use some tool which will allow us to discuss,
Maybe we can have a hangout and come up with ideas?
We can continue with github, it's better

[2016-04-04 08:26] pmuens commented on #20
Good points! Thank you @zaverichintan

[2016-04-04 09:45] zaverichintan commented on #20
http://skwibl.com/projects/4052 lets test this system, kindly comment on the sign in page, so that we can see if this tool is helpful

[2016-04-05 03:41] mattvella07 commented on #35
If you want to work on this one, I came across these packages that you could probably use:
    - https://atmospherejs.com/meteor/accounts-facebook
    - https://atmospherejs.com/meteor/accounts-google

[2016-04-05 05:38] pmuens commented on #20
Strange. I've just signed up and tried to open the project. Unfortunately I'm redirected to my dashboard. @zaverichintan Have you remove the project in the meantime?

[2016-04-05 05:42] zaverichintan commented on #20
No, but I am not very sure about the tool.
Kindly start a new project from your account, my demo was very basic.

[2016-04-06 13:10] zaverichintan opened #109 "Licence"
We can add licence tag to all our files,
I am not sure how to go through the process of licencing.
But it's needed as an open source project

[2016-04-06 13:57] pmuens commented on #109
What if we put the MIT License in the root of the project?

[2016-04-06 14:03] zaverichintan commented on #109
I think we should add it in all files on header section as other projects are also having it.

[2016-04-06 14:08] zaverichintan commented on #109
Info on MIT license -
https://opensource.org/licenses/MIT
To add it to github -
https://help.github.com/articles/open-source-licensing/

[2016-04-08 07:39] pmuens commented on #109
Thank you. I think for the first version an addition of the MIT license is sufficient (as Meteor does it). We can add the headers later on if we need to.

[2016-04-08 07:55] zaverichintan commented on #109
Oh thats perfectly fine. Can someone use this source code and use it for commercial propose will it be ok?

[2016-04-08 07:56] pmuens commented on #109
Yes. I think we should use the MIT license which permits this!

[2016-04-08 08:45] zaverichintan commented on #109
PR successfully submitted
https://github.com/GravityProject/gravity/pull/110

[2016-04-08 08:45] #109 closed

[2016-04-08 10:26] pmuens opened #111 "Deployment to heroku fails"
This is the output:
[code]

[2016-04-09 18:47] zaverichintan opened #112 "Slack chat"
I have made an account on slack to discuss about the development.
Here's the link
http://joingravity.slack.com/
Kindly join it

[2016-04-11 06:46] pmuens commented on #112
Great idea! Thank you very much for all your effort!

[2016-04-11 06:47] pmuens commented on #112
Do you have a sign up page? Your link points to the sign in page.

[2016-04-11 06:54] zaverichintan commented on #112
You have to sign in to get access

[2016-04-11 07:08] zaverichintan commented on #112
Everyone! Kindly drop your mail ID here

[2016-04-12 17:55] mattvella07 commented on #111
@pmuens Is this bug still open?  I noticed the site is live so I wanted to check.

[2016-04-13 06:26] pmuens commented on #111
Yes, I tried to deploy it but it fails. But heroku doesn't roll out the new code if it fails (the only version is currently at ad57444b0ac7001ab6955c9813cca98ccb333c81)

[2016-04-13 15:22] mattvella07 commented on #111
Are there any more detailed error logs you could post?

[2016-04-13 15:37] pmuens commented on #111
Unfortunately not. This is the only log I got.

[2016-04-13 17:43] mattvella07 commented on #111
Ok, well based on that screenshot maybe look at this: http://stackoverflow.com/questions/3950839/tar-error-is-not-recoverable-exiting-now

[2016-04-13 17:52] zaverichintan commented on #111
Is it some issue related to latest meteor version?

[2016-04-13 18:38] pmuens commented on #111
It seems like it's related as it surfaced when Meteor 1.3 came out.

[2016-04-17 05:13] mattvella07 commented on #111
I noticed that we are using node version 0.10.40 and according to this link: https://forums.meteor.com/t/deploying-a-meteor-1-3-app-on-heroku/21500 we should try uninstalling it and installing node version 0.10.36

[2016-04-18 03:19] pmuens commented on #111
Hey @mattvella07
Thank you for pointing that out!

[2016-04-19 23:03] diegonc commented on #111
It's an error triggered when the buildpack downloads phamtomjs. It comes and goes, so try a few times until it works.

https://github.com/AdmitHub/meteor-buildpack-horse/issues/83
https://github.com/AdmitHub/meteor-buildpack-horse/issues/51

[2016-04-20 03:31] pmuens commented on #111
@diegonc Thanks for pointing that out!

[2016-04-20 03:32] macsj200 commented on #111
Also getting this issue, wondering is it necessary to install phantomjs as a dep?

[2016-04-22 09:09] happyoniens commented on #112
@zaverichintan can you enable email signup as described [here](https://get.slack.help/hc/en-us/articles/201330256-Inviting-new-members-to-your-Slack-team) so every member can create an account on their own?

[2016-04-22 09:11] pmuens commented on #112
That's a good idea. This way we won't need to post our E-Mail address here!

[2016-04-22 09:54] zaverichintan commented on #112
There's a security check where domains are to be specified. I am enabling Gmail, yahoo, rediff. For time being

[2016-04-22 11:24] happyoniens commented on #112
Maybe we should use something like [this](https://github.com/outsideris/slack-invite-automation)

[2016-04-22 11:30] pmuens commented on #112
Yep. That can be easily deployed to Heroku.

[2016-04-22 11:40] happyoniens commented on #112
@pmuens can you upload this, so we can make the signup page something like slack.joingravity.com?
I have never worked with Heroku so I don't know if this is possible.

[2016-04-22 11:42] zaverichintan commented on #112
Forward me your ID at Zaverichintan5@gmail.com so that I can send you the Auth keys

[2016-04-22 11:44] pmuens commented on #112
Alright guys. I'll look into this!

[2016-04-22 15:04] pmuens commented on #112
https://joingravity-slack.herokuapp.com

[2016-04-22 15:06] zaverichintan commented on #112
Great 👍

[2016-04-23 20:49] zaverichintan opened #113 "Upgrading to latest meteor"
Would we upgrade to latest meteor 1.3?
It has few additions and deletions,which may become an issue.

[2016-04-25 07:35] pmuens commented on #113
That would be great. Are those errors related to the boilerplate (as already discussed in Slack?)

[2016-04-25 09:45] zaverichintan commented on #113
Kindly refer to https://guide.meteor.com/1.3-migration.html

[2016-04-25 15:23] mohsalsaleem commented on #99
Is anyone working on this?

[2016-04-25 15:55] pmuens commented on #99
Not yet!

[2016-04-26 23:45] mattvella07 commented on #3
@pmuens I'll start working on this one, can you assign it to me?

[2016-04-27 03:57] pmuens commented on #3
Great!
Hmm unfortunately you're not in the lest of people I can assign. But I think that someone else will read through this and see that you've started your work on it!

[2016-04-27 04:03] zaverichintan commented on #3
Hey,  it's a nice feature to be implemented.
I Would request you to use more user friendly UI so that with change in UI of other pages, it will not affect this job portal.

[2016-04-28 22:33] diegonc commented on #37
I think you need to call `AccountsTemplate.configureRoute` in the server too.
[Here's](https://github.com/meteor-useraccounts/flow-routing/blob/master/lib/core.js#L103) the code which makes me beleive that:

[code]

and if I add `console.log("*****", Accounts.urls.resetPassword("the-token"));` to server's startup I can see the URL with a hash:

`I20160428-19:29:12.671(-3)? ***** http://localhost:3

[2016-04-28 22:43] diegonc commented on #37
It worked. And everything else looks to be fine. Although I'm running a modified version of Gravity, I believe it should work on the pristine version too, I haven't changed much regarding the way accounts are handled.

[2016-04-29 08:00] pmuens commented on #37
@diegonc Great. Could you submit a PR? Then I'll merge it ASAP.

[2016-04-29 13:48] diegonc commented on #37
Done :-)

[2016-04-29 13:49] pmuens commented on #37
Great! Thank you!

[2016-04-29 13:49] #37 closed

[2016-05-02 18:57] zaverichintan commented on #43
https://atmospherejs.com/meteor/markdown
It says it's inbuilt.

[2016-05-02 20:09] mattvella07 commented on #43
Yes the package is an internal Meteor package, but that doesn't mean that all fields are parsed for markdown by default.  If you try to include some markdown in a post it is displayed as plain text, so there still is some work that needs to be done in order to format posts using markdown.

[2016-05-03 11:00] zaverichintan commented on #35
hey, Kindly create application in github, and respective facebook and google account so that meteor can use its auth key .

[2016-05-03 11:37] zaverichintan commented on #43
Found the above thing here-
http://stackoverflow.com/a/17030896/4500248

[2016-05-03 14:42] pmuens commented on #43
Great find! Anyone up to implement this?

[2016-05-03 14:44] pmuens commented on #35
Great! Could you provide the keys via Slack? BTW. Do you have heroku? Then I can add you and you can deployments anytime.

[2016-05-05 06:33] zaverichintan commented on #35
Yes, I am there on heroku my ID is zaveri_chintan@rediff.com .
There's one issue here, how should I add {{loginbuttons}} in template or in router something like this

[2016-05-05 10:50] pmuens commented on #35
Have just added you as a collaborator on Heroku.

[2016-05-05 10:53] pmuens commented on #35
We're using the useraccounts package so simply adding the meteor related packages should do the trick.

[2016-05-05 15:42] zaverichintan commented on #35
It's not happening that way.  We need to add it to our view part by adding it in template or in routes.

[2016-05-05 15:54] pmuens commented on #35
Then I would add it to the template rather than the route

[2016-05-05 17:36] zaverichintan commented on #35
Oh where will I find the sign in template? We are using accounts package and just configuring the messages.

[2016-05-05 17:39] zaverichintan commented on #43
I tried doing it but then entire thing becomes markdown supported.

[2016-05-06 08:04] pmuens commented on #43
@zaverichintan Thank you for investigation. I think that this is a great addition (even if everything will be "markdownable".

[2016-05-06 20:07] zaverichintan commented on #111
https://github.com/AdmitHub/meteor-buildpack-horse/pull/94
This has been solved I will try to deploy it on heroku

[2016-05-06 20:11] #112 closed

[2016-05-07 04:27] pmuens commented on #111
That sounds like a good addition!

[2016-05-08 06:28] Lenin7 commented on #24
Any way to contribute to the React branch?

[2016-05-08 08:23] zaverichintan commented on #111
I think the issue is solved.

[2016-05-08 19:57] cycorld opened #118 "Submit post by shift + enter"
How about implementing 'shift + enter' as a short key for submit post?

[2016-05-09 04:59] pmuens commented on #24
@Lenin7 thanks for reaching out. React is not yet implemented so feel free to open a PR!

[2016-05-09 04:59] #111 closed

[2016-05-10 03:39] mattvella07 commented on #3
Done ✅

[2016-05-10 03:45] pmuens commented on #3
@mattvella07 fantastic job! Thank you very much!

[2016-05-10 04:55] mattvella07 commented on #47
Does this refer to commenting on someone else's post?  Or is this something else?

[2016-05-10 13:58] zaverichintan commented on #118
Yea can be done. Is it really that essential?  What others feel like?

[2016-05-10 14:53] pmuens commented on #118
Great. There's a library called mousetrap which is kinda nice: https://craig.is/killing/mice

Here you can see how it would be used (although it's CoffeeScript code): https://github.com/Goltfisch/james/blob/master/client/views/workspaces/workspace.coffee#L189-L200

[2016-05-10 15:41] mattvella07 commented on #118
Yea I think this would be pretty cool too.  I can work on this, unless someone else has already started.

[2016-05-10 18:17] pmuens commented on #118
Great! I think no one else is on it!

[2016-05-11 09:53] zaverichintan commented on #43
Done.

[2016-05-11 09:53] zaverichintan commented on #8
Done.

[2016-05-11 09:53] zaverichintan commented on #82
Done.

[2016-05-11 09:54] zaverichintan commented on #36
solved?

[2016-05-11 11:02] zaverichintan commented on #65
so should we have navigation template in if else block ?

[2016-05-11 11:51] zaverichintan commented on #51
Should we make a new collection to store like dislikes or add it in post collection?

[2016-05-11 14:47] pmuens commented on #51
I would vote to add it in the `posts` collection.

[2016-05-11 14:47] #82 closed

[2016-05-11 14:47] #8 closed

[2016-05-11 14:47] #43 closed

[2016-05-11 14:48] pmuens commented on #65
Could you provide an example please?

[2016-05-11 16:01] mattvella07 commented on #51
I agree, add it to the posts collection.

[2016-05-11 17:50] mattvella07 commented on #118
Done!

[2016-05-11 17:51] cycorld commented on #118
Great!

[2016-05-11 17:51] #118 closed

[2016-05-11 17:53] mattvella07 commented on #54
This one seems to be done and working, but should we make the username a link?  Or at least a different color in order to differentiate a mentioned user from plain text?

[2016-05-11 17:54] mattvella07 commented on #51
@zaverichintan Do you want to work on this one?  If not, I can take it.

[2016-05-11 17:56] mattvella07 commented on #49
@pmuens Is this still an open bug?  Looking at it now, it seems to be working.

[2016-05-11 18:03] pmuens commented on #54
That is a good idea. Maybe we can use a highlighting which is used in e.g. slack (highlight the background of the username rather than the username).

[2016-05-11 19:14] mattvella07 commented on #54
Like this?
![screen shot 2016-05-11 at 3 13 40 pm](https://cloud.githubusercontent.com/assets/9948628/15193282/03a76e52-178b-11e6-967d-82b9a61b0986.png)

[2016-05-11 19:34] zaverichintan commented on #51
I will try it for a week.  Will continue discussion here. Would love to hear from you.

[2016-05-11 23:28] mattvella07 commented on #51
Ok, cool!

[2016-05-12 04:30] pmuens commented on #49
Yes. Seems to be working. I'll close it for now. Thanks!

[2016-05-12 04:30] #49 closed

[2016-05-12 11:22] zaverichintan commented on #51
https://github.com/copleykj/socialize-likeable
shall we use this ?

[2016-05-12 14:29] zaverichintan commented on #51
![image](https://cloud.githubusercontent.com/assets/11918544/15218028/aa8bbeee-187b-11e6-9e5b-c5ad31667875.png)
#OR
![image](https://cloud.githubusercontent.com/assets/11918544/15218109/022b6d0c-187c-11e6-947d-df94ffa5869d.png)

[2016-05-12 14:39] mattvella07 commented on #51
Are those the Font Awesome icons?  They look a little different

[2016-05-12 14:43] zaverichintan commented on #51
I used glyphicons.
I will switch to font awesome.

[2016-05-12 14:47] mattvella07 commented on #51
Ok cool, looks better.  Try these also: http://fontawesome.io/icon/thumbs-o-up/ and http://fontawesome.io/icon/thumbs-o-down/

[2016-05-12 14:56] zaverichintan commented on #84
I think this is solved ? Or I am only getting the profile picture ?

[2016-05-12 16:45] pmuens commented on #84
We've currently only used Gravatar. So you profile picture is taken from there.

[2016-05-13 12:06] zaverichintan commented on #72
@mattvella07  shall we together work on this ?

[2016-05-13 15:19] mattvella07 commented on #72
Yea we can

[2016-05-13 19:48] zaverichintan commented on #72
There are some basic features we need to decide on -
1. Auto suggestion of interests.
2. Add interest or select from the most only.?
3. Which type of interests list do we plan to implement?

[2016-05-13 22:22] mattvella07 commented on #72
I think we could allow them to enter any interest they like but also auto suggest interests that have been entered by other users.  What do you think?

[2016-05-14 07:05] zaverichintan commented on #72
Yea, that seems good. Auto complete package will be useful .

[2016-05-15 12:31] zaverichintan opened #124 "Heroku deployment authomation"
We can enable auto deployment to heroku of our master branch so that every new commit merged will be auto deployed and all new features will go to branch named to be deployed or something.

[2016-05-15 12:50] zaverichintan commented on #99
@mohsalsaleem Are you working on it ?
I was planning to implement simple notification for messages and post for time being.

[2016-05-15 13:38] mohsalsaleem commented on #99
Not yet.
On May 15, 2016 6:20 PM, "Chintan Zaveri" <notifications@github.com> wrote:

[2016-05-31 05:36] zaverichintan commented on #113
remote: ######################################################################## 100.0%
remote:
remote: Meteor 1.3.2.4 has been installed in your home directory (~/.meteor).
remote:
remote: Now you need to do one of the following:
remote:
remote:   (1) Add "$HOME/.meteor" to your path, or
remote:   (2) Run this command as root:
remote:         cp "/tmp/buildpack20160531-160-5g28c3/meteor-Efdb/.met

[2016-05-31 05:42] pmuens commented on #113
Hmm. Have you tried it multiple times? I remember that there was a bug that the buildpack relies on external services which are not 100% reliable.

[2016-05-31 06:08] zaverichintan commented on #113
Now it seems to be working check it on your side

[2016-06-22 10:15] farazfazli commented on #25
I'd love to join!

[2016-06-22 12:28] pmuens commented on #25
@farazfazli invite is out

[2016-08-26 10:43] mattymulligan opened #126 "I'm Interested Link"
Hi Guys,
for job board I'm Interested link, it doesn't click to anywhere..is there an update?

Thanks

[2016-08-26 11:11] mattvella07 commented on #126
@mattymulligan - Wen you click on the link it sends a direct message to the job poster.  There should be a pop up message in the upper right hand corner that says the message was sent.  I know it's not the most obvious confirmation and should probably be updated.

[2016-08-26 11:13] mattymulligan commented on #126
Thanks..how would i set it to when user clicks on "im interested" there is url link that will bring them to external website page of company to apply?

[2016-08-26 11:35] mattvella07 commented on #126
That's a good idea.  Maybe when the posting is created we can give the option for the job poster to set whether they want to receive a message or point to an external URL when user is interested.  If you want to implement that you can, or I can work on it this weekend probably

[2016-08-26 18:09] zaverichintan commented on #126
That's a god suggestion. What we can do is ask job poster to add link too.  And then redirect to that link on click of I am interested, with referral as option.

[2016-08-26 18:09] zaverichintan commented on #126
That's a god suggestion. What we can do is ask job poster to add link too.  And then redirect to that link on click of I am interested, with referral as option.

[2016-09-21 16:27] zaverichintan commented on #51
The enhancement is deployed so we can close the issue @pmuens .

[2016-11-21 15:42] zaverichintan opened #128 "Joingravity.com domain has expired"
Our domain Joingravity.com has been expired, suggest some new domain names.
My suggestion joingravity.net as. Com is not available.

[2016-12-17 20:33] zaverichintan commented on #128
Fixed the issue by changing domain.

[2016-12-17 20:33] #128 closed

[2017-01-01 06:15] tinhlam1205 opened #129 "The title for post"
Can you make the title for you post?
help me!
@zaverichintan

[2017-01-04 19:06] zaverichintan commented on #129
Kindly give proper explanation for the problem.

[2017-01-04 19:15] tinhlam1205 commented on #129
Can you make a "title" for the "post" in garavity.

[2017-06-23 03:59] ubuntume opened #130 "Gravity Website is Not Up"
Hello. I've been really working with Google to hone in on the not so mainstream query results and your project came up.

I went to visit your website and it didn't come up and had an error. I am very interested in growing in my coding knowledge. I am also looking for a few people I can help out along the way.

Sidenote - I sell web hosting so if you ever need any dedicated machines I'm actually ho

[2017-06-28 17:23] zaverichintan commented on #130
http://joingravity.herokuapp.com is the link to the Gravity website.

[2017-06-28 17:23] #130 closed, assigned to nobody

[2017-12-08 10:14] mattymulligan opened #131 "Image profile"
Has anyone came back to this..what's the best way to add images for your profile?

[2018-01-02 01:15] danielnunesdc commented on #25
I'm interested!